# Day 1 CHALLENGE
You own a business called ABC. To drive dependable decisions using data, you will develop an SQL database, call it ABC_DATA, which you will use to store all your customer info, customer orders, product info and your order information.

In these series of challenges, in SQL you are going to do the following:

1. Create a database and name it ABC_DATA
2. Create 4 tables

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [2]:
# Load the sql extension
%load_ext sql

In [3]:
# Creating ABC_DATA database

%%sql

sqlite:///ABC_DATA.db

In [4]:
# Creating tables
%%sql

--Customers data
CREATE TABLE IF NOT EXISTS customers(
  customer_id INT PRIMARY KEY,
  first_name VARCHAR(30),
  last_name VARCHAR(30),
  email VARCHAR(100)
);

--products table
CREATE TABLE IF NOT EXISTS products(
  product_id INT PRIMARY KEY,
  product_name VARCHAR(40),
  price FLOAT
);

--orders table
CREATE TABLE IF NOT EXISTS orders(
  order_id INT PRIMARY KEY,
  customer_id INT,
  order_date DATE,
  FOREIGN KEY (customer_id) REFERENCES customers(customer_id)

);

--order items table
CREATE TABLE IF NOT EXISTS order_items(
  order_id INT,
  Product_id INT,
  quantity INT,
  FOREIGN KEY (order_id) REFERENCES customers(order_id)
  FOREIGN KEY (product_id) REFERENCES products(product_id)

);

 * sqlite:///ABC_DATA.db
Done.
Done.
Done.
Done.

[]

# Day 2 CHALLENGE
Here you will insert data, into your database, readying it for quering in the subsequent day's challenges :

In [5]:
%%sql
INSERT INTO customers (customer_id, first_name, last_name, email)
VALUES
    (1, 'John', 'Doe', 'johndoe@email.com'),
    (2, 'Jane', 'Smith', 'janesmith@email.com'),
    (3, 'Bob', 'Johnson', 'bobjohnson@email.com'),
    (4, 'Alice', 'Brown', 'alicebrown@email.com'),
    (5, 'Charlie', 'Davis', 'charliedavis@email.com'),
    (6, 'Eva', 'Fisher', 'evafisher@email.com'),
    (7, 'George', 'Harris', 'georgeharris@email.com'),
    (8, 'Ivy', 'Jones', 'ivyjones@email.com'),
    (9, 'Kevin', 'Miller', 'kevinmiller@email.com'),
    (10, 'Lily', 'Nelson', 'lilynelson@email.com'),
    (11, 'Oliver', 'Patterson', 'oliverpatterson@email.com'),
    (12, 'Quinn', 'Roberts', 'quinnroberts@email.com'),
    (13, 'Sophia', 'Thomas', 'sophiathomas@email.com');

 * sqlite:///ABC_DATA.db
13 rows affected.

[]

In [6]:
%%sql
 INSERT INTO products (product_id, product_name, price)
 VALUES
    (1, 'Product A', 10.00),
    (2, 'Product B', 15.00),
    (3, 'Product C', 20.00),
    (4, 'Product D', 25.00),
    (5, 'Product E', 30.00),
    (6, 'Product F', 35.00),
    (7, 'Product G', 40.00),
    (8, 'Product H', 45.00),
    (9, 'Product I', 50.00),
    (10, 'Product J', 55.00),
    (11, 'Product K', 60.00),
    (12, 'Product L', 65.00),
    (13, 'Product M', 70.00);

 * sqlite:///ABC_DATA.db
13 rows affected.

[]

In [7]:
%%sql
INSERT INTO orders (order_id, customer_id, order_date)
VALUES
    (1, 1, '2023-05-01'),
    (2, 2, '2023-05-02'),
    (3, 3, '2023-05-03'),
    (4, 1, '2023-05-04'),
    (5, 2, '2023-05-05'),
    (6, 3, '2023-05-06'),
    (7, 4, '2023-05-07'),
    (8, 5, '2023-05-08'),
    (9, 6, '2023-05-09'),
    (10, 7, '2023-05-10'),
    (11, 8, '2023-05-11'),
    (12, 9, '2023-05-12'),
    (13, 10, '2023-05-13'),
    (14, 11, '2023-05-14'),
    (15, 12, '2023-05-15'),
    (16, 13, '2023-05-16');

 * sqlite:///ABC_DATA.db
16 rows affected.

[]

In [8]:
%%sql
INSERT INTO order_items (order_id, product_id, quantity)
VALUES
    (1, 1, 2),
    (1, 2, 1),
    (2, 2, 1),
    (2, 3, 3),
    (3, 1, 1),
    (3, 3, 2),
    (4, 2, 4),
    (4, 3, 1),
    (5, 1, 1),
    (5, 3, 2),
    (6, 2, 3),
    (6, 1, 1),
    (7, 4, 1),
    (7, 5, 2),
    (8, 6, 3),
    (8, 7, 1),
    (9, 8, 2),
    (9, 9, 1),
    (10, 10, 3),
    (10, 11, 2),
    (11, 12, 1),
    (11, 13, 3),
    (12, 4, 2),
    (12, 5, 1),
    (13, 6, 3),
    (13, 7, 2),
    (14, 8, 1),
    (14, 9, 2),
    (15, 10, 3),
    (15, 11, 1),
    (16, 12, 2),
    (16, 13, 3);

 * sqlite:///ABC_DATA.db
32 rows affected.

[]

# Day 3 CHALLENGE

Your task is to answer the following two questions:

Which product has the highest price? Only return a single row.

Which order_id had the highest number of items in terms of quantity

In [11]:
%%sql
--product with the highest price
SELECT *
FROM products
ORDER BY price DESC
LIMIT 1;

 * sqlite:///ABC_DATA.db
Done.

[(13, 'Product M', 70.0)]

In [13]:
%%sql
--order_id with the highest number of items in terms of quantity

SELECT order_id
FROM order_items
ORDER BY quantity DESC
LIMIT 1;

 * sqlite:///ABC_DATA.db
Done.

[(4,)]